@import url("https://fonts.googleapis.com/css?family=Open+Sans");
header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  background-color: white; }
  header .branding {
    grid-column: 1;
    grid-row: 1; }
    header .branding a img {
      max-width: 90%; }
  header .main-nav {
    grid-column: 1;
    grid-row: 2; }

body {
  font-family: "Open Sans", arial, sans-serif; }
