header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  background-color: white;

  .branding {
    grid-column: 1;
    grid-row: 1;

    a {

      img {
        max-width: 90%;
      }
    }
  }

  .main-nav {
    grid-column: 1;
    grid-row: 2;
  }
}
